/data/weights/*
/code/data/.ipynb_checkpoints/*
/code/models/.ipynb_checkpoints/*
/results/scree/*
/data/pkl/*
code/experiments/.ipynb_checkpoints/*
results
data/pkl/
data/pkl.bak/
data/pkl_mobile/
data/pkl_resnet/
data/pkl_vgg16/

