/data/weights/*
/code/data/.ipynb_checkpoints/*
/code/models/.ipynb_checkpoints/*
/results/scree/*
/data/pkl/*
code/experiments/.ipynb_checkpoints/*
results
data/pkl/
data/pkl.bak/
data/pkl_mobile/
data/pkl_resnet/
data/pkl_vgg16/
data/pkl_alex/
code/experiments/dask-worker-space/
data/AL*
data/T1A/
data/T1B/
data/T2A/
data/T2B/
data/T3A/
data/T3B/
data/T4A/
data/T4B/
data/T5A/
data/T5B/
data/mobile/
data/pkl_alex.bak/
data/pkl_mobile.bak/
data/pkl_resnet.bak/
data/pkl_test_1/
data/pkl_test_2/
data/pkl_test_3/
data/pkl_test_4/
data/pkl_test_5/
data/pkl_vgg16.bak/

